@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-4xl;
  }
  h3 {
    @apply font-semibold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700  text-white shadow-lg py-2 px-6 rounded-lg active:bg-blue-800  active:translate-y-0.5 active:shadow-md transition duration-150 ease-in-out;
  }
  .btn-secondary {
    @apply border border-slate-900 py-2 px-6 rounded-lg hover:bg-slate-500 hover:text-white active:translate-y-0.5 active:bg-slate-600 transition duration-150 ease-in-out;
  }
}
